<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css},
                                                ~{:: #js},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Trang chủ</title>

    <th:block id="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/products.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/lastest-news.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/index/index-newsletter.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/index/index-category.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/index/product-showcase.css}"/>
        <style>
            a {
                overflow: hidden;
            }
            img.card-img-top:hover {
                transform: scale(1.2);
                transition: 0.25s;
            }
        </style>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- New product -->
    <section class="products-showcase under-retail container">
        <div class="row">
            <div class="title col-12">
                <h2 class="h2">SẢN PHẨM NỔI BẬT</h2><a class="see-more-btn-text text-uppercase" href="/san-pham">Xem
                Th&ecirc;m</a>
            </div>
        </div>
        <div class="row product-row d-flex justify-content-md-between">
            <th:block th:each="product : ${newProducts}">
                <div class="product position-relative">
                    <div class="card">
                        <a class="zoom" th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                            <img class="card-img-top"
                                 th:src="${product.productImages[0]}"
                                 th:alt="${product.name}"/>
                        </a>
                        <div class="card-body text-center">
                            <a th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                            </a>
                            <p class="price text-danger"><span class="text-price" th:text="${product.price}"></span>
                                &#x20AB;</p>
                            <p class="card-text sold">&Dstrok;&atilde; b&aacute;n <span th:text="${product.totalSold}"></span></p>
                            <button class="btn btn-warning" th:data-id="${product.id}"
                                    th:onclick="|addCart(this.getAttribute ('data-id'))|">
                                <i class="fas fa-cart-plus text-white">Thêm Giỏ hàng</i>
                            </button>
                        </div>
                    </div>
                    <div class="shadow mx-auto position-absolute"></div>
                </div>
            </th:block>
        </div>
    </section>
    <!-- Break Banner-->
    <section class="break-banner">
        <a href="/san-pham">
            <img th:src="@{/image/1.png}" alt="banner-1"/>
        </a>
    </section>

    <!--  Best seller product -->
    <section class="products-showcase best-seller container">
        <div class="row">
            <div class="title col-12">
                <h2 class="h2">Sản phẩm bán chạy</h2><a
                    class="see-more-btn-text text-uppercase" href="/san-pham">Xem Thêm</a>
            </div>
        </div>
        <div class="row product-row d-flex justify-content-md-between">
            <th:block th:each="product : ${bestSellerProducts}">
                <div class="product position-relative">
                    <div class="card">
                        <a th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                            <img class="card-img-top"
                                 th:src="${product.productImages[0]}"
                                 th:alt="${product.name}"/>
                        </a>
                        <div class="card-body text-center">
                            <a th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                            </a>
                            <p class="price text-danger"><span class="text-price" th:text="${product.price}"></span>
                                &#x20AB;</p>
                            <p class="card-text sold">&Dstrok;&atilde; b&aacute;n <span th:text="${product.totalSold}"></span></p>
                            <button class="btn btn-warning btn-add" th:data-id="${product.id}"
                                    th:onclick="|addCart(this.getAttribute ('data-id'))|">
                                <i class="fas fa-cart-plus text-white">Thêm Giỏ hàng</i>
                            </button>

                        </div>
                    </div>
                    <div class="shadow mx-auto position-absolute"></div>
                </div>
            </th:block>
        </div>
    </section>
    <!-- Break Banner-->
    <section class="break-banner">
        <a href="/san-pham">
            <img th:src="@{/image/2.png}" alt="banner-2"/>
        </a>
    </section>

    <!-- Staff Selects -->
    <section class="products-showcase staffs-choose container">
        <div class="row">
            <div class="title col-12">
                <h2 class="h2">Đề xuất</h2><a class="see-more-btn-text text-uppercase" href="/san-pham">Xem
                Th&ecirc;m</a>
            </div>
        </div>
        <div class="row product-row d-flex justify-content-md-between">
            <th:block th:each="product : ${suggestProducts}">
                <div class="product position-relative">
                    <div class="card">
                        <a th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                            <img class="card-img-top"
                                 th:src="${product.productImages[0]}"
                                 th:alt="${product.name}"/>
                        </a>
                        <div class="card-body text-center">
                            <a th:href="@{/san-pham/{slug}/{id}(id=${product.id}, slug=${product.slug})}">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                            </a>
                            <p class="price text-danger"><span class="text-price" th:text="${product.price}"></span>
                                &#x20AB;</p>
                            <p class="card-text sold">&Dstrok;&atilde; b&aacute;n <span th:text="${product.totalSold}"></span></p>
                            <button class="btn btn-warning btn-add" th:data-id="${product.id}"
                                    th:onclick="|addCart(this.getAttribute ('data-id'))|">
                                <i class="fas fa-cart-plus text-white">Thêm Giỏ hàng</i>
                            </button>
                        </div>
                    </div>
                    <div class="shadow mx-auto position-absolute"></div>

                </div>
            </th:block>
        </div>
    </section>
    <!-- Break Banner-->
    <section class="break-banner">
        <a href="/san-pham">
            <img th:src="@{/image/3.png}" alt="banner-3"/>
        </a>
    </section>

    <!-- Lastest News Section-->
    <section class="latest-news container">
        <div class="row">
            <div class="title col-12">
                <h2 class="h2">Bài viết mới</h2><a class="see-more-btn-text text-uppercase"
                                                   href="/tin-tuc">Xem Th&ecirc;m</a>
            </div>
        </div>
        <div class="carousel">
            <th:block th:each="post : ${latestPosts}">
                <a class="news position-relative" th:href="@{/tin-tuc/{slug}/{id}(id=${post.id}, slug=${post.slug})}">
                    <div class="card"><img th:src="${post.thumbnail}" th:alt="${post.title}"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${post.title}"></h5>
                            <p class="card-text news-short-desc" th:text="${post.description}"></p>
                            <p class="card-text author">By <span class="name"
                                                                 th:text="${post.createdBy.fullName}"></span> &middot;
                                <span class="date" th:text="${#dates.format(post.publishedAt, 'dd/MM/yyyy')}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="shadow mx-auto position-absolute"></div>
                </a>
            </th:block>
        </div>
    </section>
</main>

<th:block id="js">
    <script type="text/javascript" th:src="@{/script/index.js}"></script>
    <script type="text/javascript" th:src="@{/script/lastest-news.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        const addCart = async (id) => {
            try {
                if (isLogined == true) {
                    await axios.post(`/cart/add/${id}`);
                    toastr.success("Đã thêm vào giỏ hàng");
                } else {
                    toastr.warning("Vui lòng đăng nhập");
                    setTimeout(function () {
                        $('#signInSignUp').modal('show');
                    }, 1000);
                }
            } catch (error) {
                alert(error.response.data.message);
            }
        }
    </script>
</th:block>
</body>
</html>



